@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-color: #ffffff;
}

li, a, button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #ffffff;
  text-decoration: none;
}

header{
  background-color: #21e0a0;  
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 4%;
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.2));
}

.logo{
  width: 50px;
  height: 50px;
  cursor: pointer;
  margin-right: auto;
}

.nav__links{
  list-style: none;
}

.nav__links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav__links li a{
  transition: all 0.3s ease;
}

.nav__links li a:hover{
  transition: all 0.3s ease;
  color: black;
}

button {
  margin-left: 30px;
  padding: 10px 30px;
  background: none;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 50px;
  transition: all 0.3s ease;
  cursor: pointer;
}

button:hover{
  background-color: #21e0a0;
  border: 2px solid #21e0a0;
  cursor: pointer;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.menu{
  display: none;
}


/*Responsive*/

@media only screen and (max-width: 800px){
  .nav__links, .btn{
    display: none;
  }
  .menu{
    display: inherit;
  }
}


/*Mobile Nav*/

.overlay{
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: #30332E;
  overflow-x: hidden;
  transition: all 0.5s ease 0s;
}

.overlay__content{
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overley a {
  padding: 15px;
  font-size: 36px;
  display: block;
  transition: all 0.3s ease 0s;
}

.overlay a:hover, .overlay a:focus{
  color: #7fffd4;
}

.overlay .close{
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px){
  .overlay a {
    font-size: 20px;
  }
  .overlay .close{
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}