.produto{
  margin-top: 60px;
  margin-bottom: 60px;
  @include d(s) {
    margin-top: 6px;
    margin-bottom: 60px;
  }
}

.produto-item{
  margin-top: 30px;
  margin-bottom: 30px;
  h2{
    @include tipo-2(30);
    margin-bottom: 1em;
  }
  li{
    @include tipo-1(18);
    line-height: em(35, 18);
    span {
      font-family: $fonte-2;
      color: $verde-escuro;
      display: inline-block;
      margin-right: 10px;
    }
  }
  img{
    width: 350px;
    border: 5px solid $verde-medio;
    position: absolute;
    right: 0px;
    margin-top:60px;
    @include d(l){
      right: 120px;
    }
    @include d(s){
      width: 120px;
    }
  }
}